@font-face {
  font-family: 'Soehne';
  src: url('/fonts/soehne-web-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/fonts/soehne-web-kraftig.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  font-family: Soehne, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
  background: #222222;
}

.leaflet-marker-icon {
  font-family: Soehne, system-ui, sans-serif;
  font-size: 16px;
}
